---
// import Welcome from '../components/Welcome.astro';
import PageLayout from "../layouts/PageLayout.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<style lang="scss">
    @use "../style/style.scss";
</style>
<PageLayout>
    <div
        style="max-width: 600px;"
        class="d-flex flex-column align-items-center"
    >
        <p>
            At ArchPlate, we specialize in eco-friendly etching for intaglio
            printing using metal plates. Unlike traditional acid-based methods,
            which are harmful to the environment and health, we’ve adopted
            electro etching—a non-toxic, innovative technique discovered in
            2024.
            <br />
            <br />
            This method uses electricity instead of chemicals, offering a safer,
            sustainable way to create intricate prints. Continuously exploring its
            potential, we’re redefining etching as a modern, environmentally responsible
            art form. Join us in crafting beauty without compromise.
        </p>

        <div class="d-flex justify-content-center" style="width: 100%">
            <img
                src="/works/wings.jpg"
                style="max-width: 400px; width:70%; margin:4rem"
                alt=""
                class="clickable"
            />
        </div>
    </div>
</PageLayout>
