// $primary: ;

@import "bootstrap"; //use full path to bootstrap.scss

.bg-gray-100 {
    background-color: $gray-100;
}

.nav a {
    text-decoration: none;
    color: $gray-800;
    margin: 0 2rem;
}

.nav a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .nav a {
        margin: 1rem 0;
    }
}
