<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Arch Plate - 桥版画</title>
    </head>
    <style lang="scss">
        @use "../style/style.scss";
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <body class="bg-gray-100">
        <div>
            <slot />
        </div>
    </body>
</html>
