---
import PageLayout from "../layouts/PageLayout.astro"
---

<div>
    <PageLayout>
        <div style="max-width: 600px;" class="works">
            <slot />
        </div>
    </PageLayout>
</div>

<script lang="js">
  
</script>
